* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

.container {
    margin: 0 auto;
}

body{
    background-color: #f2f2f2;
  }
  

/* header */

.triangle-border {
    position: relative;
    display: inline-block;
    /* Adjust layout if necessary */
    padding: 10px;
    /* Add spacing around the image */
    border-right: 2px solid #884491;
    /* Placeholder for alignment */
    border-top: 2px solid #884491;
    /* Placeholder for alignment */
    border-radius: 0px 35px 0px 0px;
}



/* baner */
.bg-baner-index {
    background-image: url('../images/whychooseushero.png');
    width: 100%;
    height: 660px;
}

.last-section{
    background-image: url('../images/last-section.png');
  }